<robot name="xxx_robot" xmlns:xacro="http://www.ros.org/wiki/xacro"> 
    <xacro:macro name="mecanum" params="BaseFrame lf bf lr br">
        <gazebo>
            <plugin name="mecanum_controller" filename="libgazebo_ros_planar_move.so">
                <alwaysOn>        true          </alwaysOn>
                <updateRate>      100.0         </updateRate>
                <commandTopic>    cmd_vel       </commandTopic>
                <odometryTopic>   odom          </odometryTopic>
                <odometryFrame>   odom          </odometryFrame>
                <leftFrontJoint>  ${lf}         </leftFrontJoint>
                <rightFrontJoint> ${bf}         </rightFrontJoint>
                <leftRearJoint>   ${lr}         </leftRearJoint>
                <rightRearJoint>  ${br}         </rightRearJoint>
                <odometryRate>    100           </odometryRate>
                <broadcastTF>     1             </broadcastTF>
                <cmdTimeout>     -1.0           </cmdTimeout>                
                <robotBaseFrame>  ${BaseFrame}  </robotBaseFrame>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>
